*{
  margin: 0;
  padding: 0;
  list-style: none;
  box-shadow: none;
  text-decoration: none;
}

.home .content {
	text-align: right;
	align-items: flex-end;
	width: 500px;
	right: 10vw;
	top: 15vw;
	color: white;
	max-width: 450px;
	z-index: 4;
}

.bg {
	height: 100vh;
	position: absolute;
	z-index: 1;
	width: 100%;
}

.button {
	background: transparent;
	display: flex;
	height: 44px;
	align-items: center;
	text-decoration: none;
	color: white;
	margin-top: 15px;
	padding: 20px;
	box-sizing: border-box;
	border: 2px solid rgba(245, 245, 241, 0.2);
	border-radius: 20px;
	font-size: 14px;
	font-weight: 600;
	transition: border 0.125s ease, background 0.125s ease;
}

.button:hover {
	border: 2px solid #f5f5f1;
	background: transparent;
}

.loginform {
	width: 100%;
	color: black;
	background: white;
	font-size: 20px;
}

.link {
	color: white;
}

.link:hover {
	color: tomato;
}

.field {
	margin-top: 3vh;
	color: white;
	background: transparent;
	border-radius: 20px;
	border: 2px solid rgba(245, 245, 241, 0.2);
}

.field:enabled {
	border: 2px solid #f5f5f1;
	background: transparent;
	color: white;
}

.comeback, .regisform {
	width: 40%;
	color: black;
	background: white;
	justify-content: center;
	font-size: 20px;
}

.login-form, .regis-form {
	background:rgba(0, 0, 0, 0.85);
	color: white;
}

.login-title, .regis-title {
	text-align: center;
	font-size: 40px;
}
@media only screen and (max-width: 600px) {
	.home .content {
		text-align: center;
		align-items: center;
	}
}
